// .User-Profile{
//     width: auto;
//     height: auto;
//     background: #f9fafb;
// }

// .M-Userimage{
//     height: 200px;
//     width: auto;
//     background-image: url('../../assets/images/userimage/defaultimage.jpg');
//     background-size: cover;
// }

.form-card {
    padding: 50px;
    // margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}