.content{
    // margin-top:3em !important;
    // border:none !important;
    // margin-left:3em !important;
    text-align: center;
    .finished{
        background-color: #D5E8D4;
    }
    .error{
        background-color: #F8CECC;
    }
    .question-item{
        border: 1px solid #000;
        text-align: justify;
        margin:0;
        .question-context{
            width: 90%;
            // float: left;
            .container{
                margin: 0 0 !important;
                margin-left: 1em !important;
            }
            
        }

        .question-comment{
            // float: right;
            overflow: hidden;
            overflow-y: auto;
            border-radius: 5px;
            border: 1px solid #000;
            background-color: #FFF;
            .content{
                padding-left: 1em;
                text-align: justify;
                font-size: 14px;
                font-family: 'Times New Roman', Times, serif;
            }
            // text-align: left;
            .text{
                text-align: justify;
                font-size: 14px;
                margin-left: 5px;
                margin-right: 5px;
            }
            .input{
                min-width: 80%;
                margin-top: 1em;
                margin-left: 5px;
            }
            .button{
                display: block;
                margin: 10px 0 0 5px;
                margin-top: 5px;
                padding-top: 10px;
                float: right;

            }
        }

        overflow: auto;


    }
    
}